DATABASE_URL=postgresql://devlink:devlink@localhost:5433/devlink
NEXTAUTH_SECRET=replace-me-with-a-long-random-string
NEXTAUTH_URL=http://localhost:3000

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
